---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    color: #a7a7a7;
}

pre {
    background-color: #282828;
}

div#widget {
    margin-bottom: 20px;
}

body {
    color: #fff;
    background-color: #000;
}

.site-title {
    color: #fff !important;
}
.site-title:visited {
    color: #fff !important;
}

a:visited {
    color: #28fe28;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    background-color: #fff;
    border-top: 1px dashed #8c8c8c;
}

a:hover {
    color: orange;
    text-transform: uppercase !important;
    text-decoration: none;
    -webkit-transition:ease .5s;
    -moz-transition:ease .5s;
}

.footer-col-wrapper {
    color: #bababa;
}

.contact-list {
    color: white;
}
a {
    color: red;
}

.post-link {
    color: red;
}
.username {
    color: white;
}

.site-nav .page-link {
    color: white !important;
}
.post-meta {
    color: white;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
  background-color: #151515 !important;
}
.highlight .err {
  color: #151515 !important;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515 !important;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}

code {
    background-color: black;
}
